* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 1000px;
  width: : 1000px;
  background-color: green;
  margin: auto;
}

.centre::after {
  content: "";
  display: block;
  clear: both;
}

.top {
  height: 15%;
  background-color: yellow;
}

.centre {
  margin-top: 10px;
}

.aside_left {
  float: left;
  height: 50%;
  width: 28%;
  margin-left: 2%;
  background-color: pink;
}

.middle {
  float: left;
  height: 80%;
  width: 40%;
  background-color: purple;
}

.aside_right {
  float: left;
  height: 50%;
  width: 28%;
  margin-right: 2%;
  background-color: pink;
}

.bottom {
  height: 10%;
  background-color: lightblue;
}
