* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 1000px;
  width: : 1000px;
  /* background-color: green; */
  margin: 15px;
}


.top {
  height: 15%;
  background-color: yellow;
}

.centre::after {
  content: "";
  display: block;
  clear: both;
}

.centre {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aside_left {
  float: left;
  height: 60%;
  width: 28%;
  margin-right: 2%;
  background-color: pink;
}

.middle {
  float: left;
  height: 80%;
  width: 40%;
  background-color: purple;
}

.aside_right {
  float: left;
  height: 60%;
  width: 28%;
  margin-left: 2%;
  background-color: pink;
}

.right_up {
  margin-bottom: 2px;
}

.bottom {
  height: 10%;
  margin-bottom: 2px;
  background-color: lightblue;

}
